{% extends 'base.html' %}

{% block title %}
    <title>{{ month_name }} {{ year }}</title>
{% endblock title %}



{% block header %}
<header>
    <div>
    <nav class="main-nav">
        <p>Hi, {{ user.username }}</p>
        <div>
            <a href="{% url 'tags' 'create' 1 %}">Manage Tags</a>
        </div>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>

    </nav>
</div>
</header>
{% endblock header %}


{% block main %}
<main>
    <div class="cal-outer">
        <div class="cal-cell-outer">

                <a class="cal-nav sudo-btn" href="{% url 'home' last_year month %}"><< year</a>
                <div class="cal-title">
                    <h1>{{ year }}</h1>
                </div>
                <a class="cal-nav sudo-btn" href="{% url 'home' next_year month %}">year >></a>

                {% if last_month == 12 %}
                <a class="cal-nav sudo-btn" href="{% url 'home' last_year last_month %}"><< mon</a>
                {% else %}
                <a class="cal-nav sudo-btn" href="{% url 'home' year last_month %}"><< mon</a>
                {% endif %}

                <div class="cal-title">
                    <h3 >{{ month_name }}</h3>
                </div>
                {% if next_month == 1 %}

                <a class="cal-nav sudo-btn" href="{% url 'home' next_year next_month %}">mon >></a>
                {% else %}
                <a class="cal-nav sudo-btn" href="{% url 'home' year next_month %}">mon >></a>
                {% endif %}
            <div class="cal-cell-week week-first">
                <p>Mon</p>
            </div>
            <div class="cal-cell-week">
                <p>Tue</p>
            </div>
            <div class="cal-cell-week">
                <p>Wed</p>
            </div>
            <div class="cal-cell-week">
                <p>Thur</p>
            </div>
            <div class="cal-cell-week">
                <p>Fri</p>
            </div>
            <div class="cal-cell-week weekend">
                <p>Sat</p>
            </div>
            <div class="cal-cell-week week-last weekend">
                <p>Sun</p>
            </div>
            {% for date in calendar %}
            {% cycle 'mon' 'tue' 'wed' 'thur' 'fri' 'sat' 'sun' as week_days silent%}
                {% if date != today %}
                <div class="cal-cell {{week_days}}">
                {% else %}
                <div class="cal-cell {{week_days}} today">
                {% endif %}

                {% if date.month == month %}
                <div>
                    <p><span class="day-box"><a href="{% url 'day_details' year month date.day %}">{{ date.day }}</a></span></p>
                </div>
                <ul>
                {% for event in events %}

                    {% if event.date.day == date.day %}
                        {% if event.is_complete %}
                        <li style="color: {{event.tag.color}};">
                            <a href="{% url 'event_details' 'edit' event.id %}" style="color: {{event.tag.color}}; text-decoration: line-through;" >{{event.title}}</a>
                        </li>
                        {% else %}
                        <li style="color: {{event.tag.color}};">
                            <a href="{% url 'event_details' 'edit' event.id %}" style="color: {{event.tag.color}}; text-decoration: None;" >{{event.title}}</a>
                        </li>
                        {% endif %}
                    {% endif %}

                {% endfor %}
                </ul>
            {% else %}
            <div class="empty-cell">

            </div>
            {%endif%}
            </div>
            {% endfor %}
        </div>

        <div class="page-title-div">
            <h3>Create a new event</h3>
            <form class="main-cal-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>

    </div>
</main>
{% endblock main %}
