{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block header %}
<header>
<div>
    <nav class="main-nav">
        <p>Hi, {{ user.username }}</p>
        <div>
         <a href="{% url 'home' year month %}">Home</a>
        </div>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
</div>
</header>
{% endblock header %}


{% block main %}
<main>
    <div class="page-title-div">
        {% if events %}
        <h3>Your events for {{ day }}-{{ month }}-{{ year }}</h3>
        {% for event in events %}
            <p>{{event.title}}</p>
        {% endfor %}
        {% else %}
        <div class="not-found">
            <h3>Nothing to see here</h3>
            <p>Looks like you have no events for this day.</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock main %}
