
{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block header %}
<header>
<div>
    <nav class="main-nav">
        <p>Hi, {{ user.username }}</p>
        <div>
         <a href="{% url 'home' year month %}">Home</a>
        </div>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
</div>
</header>
{% endblock header %}


{% block main %}
<main>
    <div>
        <div class="page-title-div">
            <h1>{{event.title}}</h1>
            {% if days_left == 1 %}
            <p>This event is happening tomorrow.</p>
            {% elif days_left > 1 %}
            <p>You have {{days_left}} days until this event.</p>
            {% elif days_left == 0 %}
            <p>This event is happening Today!</p>
            {% else %}
            <p>This event has already passed.</p>
            {% endif %}
            <br>
            <p>Notes:</p>
            <p>{{ event.description }}</p>
        </div>

        {% if action == "edit" %}
        <div class="page-title-div">
            <form class="main-cal-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
        <div class="delete">
            <span>Not happy with this event?</span><a class="sudo-btn" href="{% url 'event_details' 'delete' event.id %}">Delete</a>
        </div>
        {% else %}
        <div class="page-title-div">
        <form method="post">
            {% csrf_token %}
            <h3>Are you sure you want to delete this event?</h3>
            <div class="left-delete">
                <button>Delete</button>
                <a class="sudo-btn no-delete" href="{% url 'event_details' 'edit' event.id %}">No</a>
            </div>
        </form>
        </div>
        {% endif %}

    </div>
</main>
{% endblock main %}
