{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block header %}
<header>
<div>
    <nav class="main-nav">
        <p>Hi, {{ user.username }}</p>
        <div>
         <a href="{% url 'home' year month %}">Home</a>
        </div>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
</div>
</header>
{% endblock header %}


{% block main %}
<main>
    <div>
        {% if action == "Delete" %}
        <div class="page-title-div">
            <form method="post">
                {% csrf_token %}
                <h3>Are you sure you want to delete:</h3>
                <h3>{{tag.name}}</h3>
                <div class="left-delete">
                <button>Delete</button>
                <a class="sudo-btn no-delete" href="{% url 'tags' 'edit' tag.id %}">No</a>
            </div>
            </form>
        </div>
        {% else %}
        <div class="page-title-div">
        <form class="page-title-div-form" method="post">
            <h3>{{ action }} a Tag</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="sudo-btn">{{ action }}</button>
            {% if action == "Edit" %}
            <div class="delete">
                <a class="sudo-btn" href="{% url 'tags' 'create' 1 %}">Create a new Tag instead</a>
            </div>
            {% endif %}
        {% endif %}
        </form>
    </div>
    </div>
    <div>
        {% for tag in tags %}
        <div class="tag-div-show page-title-div">
            <h3 class="tag-h3" style="border-bottom:3px solid {{tag.color}};">{{tag.name}}</h3>

            <div class="tag-event-list">
                <p>Events holding this tag:</p>
                {% for event in events %}
                {% if event.tag == tag %}
                <span>{{event.title}} <span style="color: {{tag.color}};">|</span></span>
                {% endif %}
                {% endfor %}
            </div>
            <div class="tag-delete">
                <a class="sudo-btn tag-btn tag-edit" href="{% url 'tags' 'edit' tag.id %}">Edit</a>
                <a class="sudo-btn tag-btn" href="{% url 'tags' 'delete' tag.id %}">Delete</a>
            </div>

        </div>

        {% endfor %}
    </div>

</main>
{% endblock main %}
