@media screen and (max-width: 480px) {

body {
    margin: 1px;
}

.main-nav {
    grid-template-columns: 40% 1fr 1fr;
    width: 21rem;
    padding: .5 .125rem;
    font-size: medium;

}
/* ------CALENDAR-------- */
.cal-cell-outer {
    grid-template-columns: repeat(7, 50px);
}

.cal-title {
    grid-column-start: 3;
    grid-column-end: 6;
    height: 1rem;
    font-size: 10px;
}

.cal-title h3, .cal-title h1 {
    margin: 0;
    padding-top: .5rem;
}

.cal-title h3 {
    font-size: medium;
}

.cal-nav {
    grid-column: span 2;
    padding: .125rem .25rem .125rem;
    margin: 3% 5%;
    font-size: small;
}


.cal-cell-week p {
    padding: .25rem 0 0;
    font-size: small;
}

.cal-cell {
    height: 5rem;
}


.cal-cell div p {
    margin: 0;
    padding-left: .125rem;
}

.cal-cell a {
    font-size: .75rem;
}

.cal-cell ul {
    list-style-type: None;
    font-size: x-small;
    margin: 0 0 0 .25rem;
    line-height: .75;
    padding-left: 0;
}


.cal-cell li {
    margin: .125rem 0;
    width: 90%;
}
/* ------------------- */
/* ------FORMS-------- */
.main-cal-form {
    /* border: 1px solid gray; */
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "title title descrip "
                        "date date descrip"
                        "tag tag descrip"
                        "complete button button";
    margin: 1rem auto;
}
/* ------------------- */
/* ------FORMS-------- */
.main-cal-form p:nth-child(5) select  {
    width: 100%
}
textarea {
    grid-row: span 2;
    height: 80%;
    width: 95%;
}
/* ------FORMS-------- */
.delete {
    width: 21rem;
}
.page-title-div {
    width: 21rem;
}
}
