/*
    color: rgba(18, 87, 115, 1); dark blue
    color: rgba(15, 159, 191, 1); light blue
    color: rgba(11, 117, 140, 1); teal
    color: rgba(242, 242, 242, 1); white
    color: rgba(191, 191, 191, 1); gray
    color: rgba(49, 58, 64, 1); dark Gray
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header {
    background-color: rgba(49, 58, 64, 1);
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
}

*{
    font-family: 'Roboto', sans-serif;
    color: rgba(49, 58, 64, 1);
}
main {
    min-height: 100vh;
}

body {
    margin: 4px;
    background-color: rgba(49, 58, 64, 1);
}

.errorlist {
    font-size: smaller;
    color: red;
}
a {
    text-decoration: None;
    color: rgba(18, 87, 115, 1);
}
.main-nav a:hover {
    color: rgb(95, 217, 244);
}

.main-nav {
    display: grid;
    margin: auto;
    padding: 1rem;
}

.main-nav div {
    text-align: right;
}
.main-nav p {
    display: inline-block;
    margin: 0%;
    color: rgba(242, 242, 242, 1);
}

.main-nav a {
    display: inline-block;
    text-align: right;
    color: rgba(242, 242, 242, 1);
}

/* ------CALENDAR-------- */


.cal-cell-outer {
    background-color: rgba(242, 242, 242, 1);
    width: fit-content;
    display: grid;
    border: rgba(242, 242, 242, 1);
    border-radius: .5rem;
    /* box-shadow: 0 0 1rem rgb(147, 147, 147); */
    /* this is so the bg color doesnt hid the right outside line */
    padding-right: 1px;
    margin: auto;
}

.cal-title {
    grid-column: span 5;
    height: 2rem;
}

.cal-title h1, .cal-title h3 {
    text-align: center;
}

.cal-nav {
    text-align: center;
    text-decoration: none;
    border-radius: .25rem;
}

.cal-cell-week p {
    margin: 0%;
    padding: 1rem 0 0;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid rgb(228, 228, 228);
}

.cal-cell {
    overflow: hidden;
    padding: 0;
    height: 6rem;
    width: 100%;
    text-align: left;
    font-size: smaller;
    border-top: 1px solid rgba(242, 242, 242, 1);
    border-left: 1px solid rgba(242, 242, 242, 1);
    border-radius: .5rem;
}


.cal-cell::-webkit-scrollbar {
    border-radius: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    width: 0;
    height: 0;
    }

*::-webkit-scrollbar-corner {
    background-image: none;
}

.cal-cell:hover {
    overflow-y: scroll;
}

.today:hover {
    overflow-y: scroll;
}

.mon {
    border-left: 0;
}

.mon, .wed, .fri, .tue, .thur{
    background-color: #ffffff;
}

/* .tue, .thur {
    background-color: #ffffff;
} */

.sat, .sun {
    background-color: rgba(18, 87, 115, .125);
}

/* .sun {
    background-color: rgba(15, 159, 191, .1);
} */

.weekend p {
    color:rgba(18, 87, 115, 1);
}

.today {
    background-color: rgba(15, 159, 191, .25);
}

.cal-cell > div {
    margin-top: -.25rem;
}

.cal-cell div p {
    margin: 0;
    padding-left: .25rem;
    padding-top: .25rem;
}

.cal-cell span a{
    padding-left: .25rem;
    width: 1rem;
    display: block;
    border-radius: .5rem;
}
.cal-cell span a:hover {
    background-color: rgba(18, 87, 115, .125);
}

.cal-cell a {
    font-size: .8rem;
}

.cal-cell ul {
    padding: 0%;
    list-style: square;
    margin: 0 0 0 1rem;
}

/* ------------------- */
/* ------FORMS-------- */
form p:nth-child(2) {grid-area: title;}
form p:nth-child(3) {grid-area: descrip;}
form p:nth-child(4) {grid-area: date;}
form p:nth-child(5) {grid-area: tag;}
form p:nth-child(6) {grid-area: complete;
    text-align: left;
}
form button {grid-area: button;}

.main-cal-form {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: "title tag descrip"
                        "date complete descrip"
                        "button button descrip";
    column-gap: 1rem;
    font-size: small;
    text-align: left;
    margin: auto;
}

/* ------------------- */
/* ------FORMS-------- */

/* -----TAGS------- */
/* -----EVENTS------- */
/* -----DAYS------- */
.tag-div-show {
    background-color: #eee;
}

.main-cal-form p {
    margin-bottom: 0;
    margin-top: 1rem;

}

.main-cal-form p label{
    display: block;
}

textarea {
    grid-row: span 2;
    width: 95%;
    height: 6rem;
}

.main-cal-form button {
    margin: 1rem auto;
    height: 1.5rem;
    width: 10rem;
}

form p * {
    border: 0;
    color:rgba(49, 58, 64, 1);
}

button, .sudo-btn {
    border: .1em solid rgba(18, 87, 115, 1);
    color: rgba(18, 87, 115, 1);
    background-color: rgba(242, 242, 242, 1);
    border-radius: .25rem;
    text-align: center;
}
button:hover, .sudo-btn:hover {
    background-color: rgba(18, 87, 115, 1);
    color: rgba(242, 242, 242, 1);
}
button {
    font-size: 1rem;
}
.left-delete {
    text-align: left;
    margin: .25rem auto;
}
.no-delete {
    padding: 0 1rem;
}

.delete {
    text-align: right;
    margin: .25rem auto;
}
.delete span {
    color: rgba(242, 242, 242, 1);
    margin-right: 1rem;
    font-size: smaller;
}
.delete a {
    padding: .25rem .5rem;
    border-radius: .5rem;
    font-size: smaller;
    display: inline-block;
    margin: 0;
}
.page-title-div{
    background-color: rgba(242, 242, 242, 1);
    padding: .5rem;
    border-radius: .5rem;
    margin: 1rem auto 0;
}
.page-title-div-form label {
    display: block;

}
.tag-event-list {
    margin-bottom: 1rem;
}
.tag-delete {
    text-align: right;
}
.tag-delete a{
    padding: .25rem .5rem;
    border-radius: .5rem;
    border: 1px solid rgba(242, 242, 242, 1);
    font-size: smaller;
    display: inline-block;
    margin: 0;
}

.tag-delete .tag-btn {
    border-color: rgba(18, 87, 115, 1);
}
.tag-edit {
    width: 2.5rem;
}
.tag-h3, .page-title-div h3 {
    margin: .5rem 0;
}
.tag-event-list p {
    margin-bottom: .25rem;
    color: rgba(49, 58, 64, 1);
}
/* .tag-event-list span {
    color: rgba(49, 58, 64, 1);
} */
footer {
    margin: 5rem auto 0;
    position: relative;
    bottom: 0%;
    padding: 2rem 0 5rem 0;
    text-align: center;
}

footer p {
    margin: 0;
    line-height: 1.25;
    color: rgba(242, 242, 242, .25)
}
