{% extends 'portal.html' %}



{% block title %}
<title>Sign Up</title>
{% endblock title %}



{% block header %}
{% endblock header %}



{% block main %}
<div class="greet-box">

    <div class="left-box">
        <div class="greet-title">
            <div><h1 class="greet-title-letter">P</h1></div>
            <h3>Progress Pro</h3>
            <p>Time manegement simplified.</p>
        </div>
        <div class="greet-title-text">
            <p>
                Let us take you back to the good old days of putting
                events in your calendar and scratching them off when
                you're done.
            </p>
        </div>
        <div class="greet-title-footer">
            <p>No gimicks. No pay wall.</p>
            <p>Just a simple calendar</p>
        </div>
    </div>

    <div class="right-box">
        <h1 class="right-box-greet-title">Sign Up</h1>
        <div class="title-form-box">
            <form method="post" class="signup-form">
                {% csrf_token %}
                {{form.as_p}}
                <button class="login-button">Sign Up</button>
            </form>
        </div>
        <div class="title-link">
            <a href="{% url 'login' %}">Log In </a>
        </div>
    </div>

</div>
{% endblock main %}
