@media screen and (min-width: 961px) {

.main-nav {
    grid-template-columns: 50% 1fr 1fr;
    width: 59rem;
}

/* ------CALENDAR-------- */
.cal-cell-outer {
    grid-template-columns: repeat(7, 8.5rem);
}

.cal-nav {
    padding: .25rem .5rem .25rem;
    margin: 5% 10%;
}


.cal-cell {
    width: 8.5rem;
}

/* ------------------- */
/* ------FORMS-------- */
.main-cal-form {
    width: 58.5rem;
}

.delete {
    width: 58.5rem;
}
.page-title-div {
    width: 58.5rem;
}
}
