/*
    color: rgba(18, 87, 115, 1); dark blue
    color: rgba(15, 159, 191, 1); light blue
    color: rgba(11, 117, 140, 1); teal
    color: rgba(242, 242, 242, 1); white
    color: rgba(191, 191, 191, 1); gray
    color: rgba(49, 58, 64, 1); dark Gray
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
}
body {
    background-color: rgba(49, 58, 64, 1);
    margin: 0;
    height: 100%
}
main {
    height: 100%;
}

.errorlist {
    color: rgb(201, 21, 21);
    font-size: small;
    margin-bottom: 0;
}

* {
    font-family: Roboto, sans-serif;
}

/* ----------------------Login and SignUP---------------------------- */
@media screen and (min-width: 600px) {
    .greet-box {
        width: 65%;
        height: 35em;
        grid-template-columns: 1fr 45%;
    }
    .greet-box .left-box {
        height: 35em;
    }
    .right-box-greet-title {
        margin: 25% 10% 10%;
    }
}
@media screen and (max-width: 600px) {
    .greet-box {
        width: 85%;
        height: 35em;
        grid-template-columns: repeat(1, 1fr);
    }
    .greet-box .left-box {
        height: 0;
        visibility: hidden;
    }
    .greet-box .right-box {
        border-radius: 1rem;
    }
    .right-box-greet-title {
        margin: 15% 10% 10%;
    }
}

.greet-box {
    margin: 7% auto;
    border-radius: 1rem;
    background-color:rgba(191, 191, 191, 1);
    display: grid;
}

.greet-box .left-box {
    background-color: rgba(18, 87, 115, .25);
    color: rgba(242, 242, 242, 1);
}

.greet-title {
    margin: 10% 10% 10%;
    text-align: center;
}

.greet-title-letter {
    font-size: 6.5em;
    font-family: serif;
    margin: 0 auto;
}

.greet-title > h3 {
    margin: 0;
    font-size: 1.5em;
}

.greet-title > p {
    margin-top: 0;
    color: rgba(242, 242, 242, 1);
    font-size: medium;
}

.greet-title-text {
    color: rgba(242, 242, 242, 1);
    line-height: 1.5;
    margin: 0 10% 2em 10%;
    font-size: medium;
}

.greet-title-footer p {
    text-align: center;
    color: rgba(242, 242, 242, 1);
    margin: 0 0 .5em 0;
}

.greet-title-footer p:last-child {
    font-size: 1.25em;
    color: rgba(242, 242, 242, 1);
}

/* ----------------------Login and Signin---------------------------- */
/* -------------------------right side---------------------------- */
/* ----------------------Login and Signin---------------------------- */

.greet-box .right-box {
    background-color: rgba(242, 242, 242, 1);
    color: rgba(7, 51, 89, .9);
    height: 35em;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.right-box a {
    color: rgba(18, 87, 115, 1);
    margin: 3% 15%;
    text-decoration: none;
}
.title-link {
    text-align: right;
}

.title-form-box {
    margin: 3.5em 10%;
    height: 45%;
}

.signup-form p {
    margin-top: 0;
}

.signup-form p label{
    display: block;
    text-align: left;
    font-size: large;
}

.signup-form p input {
    width: 95%;
    height: 1.8em;
    color: rgba(18, 87, 115, 1);
    border: 0;
    border-radius: .2em;
}

.login-button {
    border: .1em solid rgba(18, 87, 115, 1);
    background-color: rgba(18, 87, 115, 1);
    color: #ffffff;
    border-radius: .3em;
    margin-top: 2em;
    height: 2em;
    width: 8em;
    font-weight: bold;
}

.login-button:hover {
    color: rgba(18, 87, 115, 1);
    background-color: rgba(242, 242, 242, 1);
}
