@media screen and (min-width: 480px) and (max-width: 960px) {

.main-nav {
    grid-template-columns: 50% 1fr 1fr;
    width: 90%;
}
/* ------CALENDAR-------- */

.cal-cell-outer {
    width: 90%;
    grid-template-columns: repeat(7, 1fr);
}

.cal-title h1, .cal-title h3 {
    margin: .5rem 0 0;
}

.cal-nav {
    padding: .3rem .2rem .3rem;
    margin: 5% 5%;
    font-size: .85rem;
}
/* .main-cal-form {
    width: 88%;
} */

.delete {
    width: 88%;
}
.page-title-div {
    width: 88%;
}
}
