{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}

    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 961px)" href="{% static 'css/large-styles.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 480px) and (max-width: 980px)" href="{% static 'css/mid-styles.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 479px)" href="{% static 'css/small-styles.css' %}">
</head>
<body>
    {% block header %}

    {% endblock header %}

    {% block main %}

    {% endblock main %}
    <footer>
        <div>
            <p>Progress Pro was made by</p>
            <p>Santiago Bothe</p>
            <p>santiagobothe@outlook.com</p>
        </div>
    </footer>
</body>
</html>
