{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}

    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    {% block header %}

    {% endblock header %}

    {% block main %}

    {% endblock main %}
</body>
</html>
